@font-face {
    font-family: 'YeGeng';
    src: url('./yegeng.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'YeGeng';
}